<div class="egns-preloader">
  <div class="preloader-close-btn">
    <span><i class="bi bi-x-lg"></i> Close</span>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="circle-border">
          <div class="moving-circle"></div>
          <div class="moving-circle"></div>
          <div class="moving-circle"></div>
              <img src="assets/img/fav.png" height="200" width="200">
        </div>
      </div>
    </div>
  </div>
</div>
